@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap');

$blue: #213586;
$white: #ffffff;

html {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Advent Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $blue;
  height: 100vh;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}
