.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 320px;
}

.product-description {
  margin: 0 35px;
  font-weight: 600;
  font-size: 16px;
}

.product-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  max-width: 320px;
}

.product-quantity-container {
  display: flex;
  justify-content: flex-end;
}

.add-to-cart-button-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 35px;
}
